body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 15;
    padding: 0;
    width: 100%;
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    text-align: center;
    margin-bottom: 20px;
}

input, textarea, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[disabled] {
    background-color: #f9f9f9;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.flash-messages {
    margin-bottom: 20px;
}

.flash-message {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.flash-message.success {
    background-color: #d4edda;
    color: #155724;
}

.flash-message.danger {
    background-color: #f8d7da;
    color: #721c24;
}

.kanban-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.kanban-column {
    width: 30%;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.kanban-column h4 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.kanban-column ul {
    list-style-type: none;
    padding: 0;
}

.kanban-column li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    color: white;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.open-sidebar-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.open-sidebar-btn:hover {
    background-color: #0056b3;
}

.logout-btn, .eliminar-btn {
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn {
    background-color: #f44336;
    text-decoration: none;
}

.logout-btn:hover {
    background-color: #d32f2f;
}

.eliminar-btn {
    background: none;
    border: none;
    color: red;
    font-size: 20px;
}

.eliminar-btn:hover {
    color: darkred;
}
.editar-btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.editar-btn:hover {
    background-color: #45a049;
}
