<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        // Función de confirmación antes de eliminar la tarea
        function confirmarEliminacion(event, tareaId) {
            event.preventDefault(); // Prevenir el envío del formulario

            // Mostrar el mensaje de confirmación
            let confirmacion = confirm("¿Seguro que quieres eliminar esta tarea?");
            
            if (confirmacion) {
                // Si el usuario confirma, enviamos el formulario
                document.getElementById('eliminar-form-' + tareaId).submit();
            }
        }
    // Abrir la barra lateral
    function openSidebar() {
        document.getElementById("sidebar").style.width = "250px";
    }

    // Cerrar la barra lateral
    function closeSidebar() {
        document.getElementById("sidebar").style.width = "0";
    }
    
    </script>
</head>
<body>
    
    <div class="container">
        <!-- Botón para abrir la barra lateral -->
        <button class="open-sidebar-btn" onclick="openSidebar()">☰ </button>

        <!-- Barra lateral -->
        <div id="sidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">×</a>
            <a href="{{ url_for('logout') }}">Cerrar sesión</a>
            <a href="{{ url_for('editar_datos_usuario') }}">Editar datos de usuario</a>
        </div>
        <h1>Bienvenido, !</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <!-- Formulario para crear una nueva tarea -->
        <form action="{{ url_for('crear_tarea') }}" method="POST">
            <input type="text" name="titulo" placeholder="Título de la tarea" required>
            <textarea name="descripcion" placeholder="Descripción de la tarea" required></textarea>
            <input type="email" name="email_asignado" placeholder="Email del usuario asignado">
            <select placeholder="prioridad" name="prioridad" required>
                <option value="Alta">Prioridad Alta</option>
                <option value="Media">Prioridad Media</option>
                <option value="Baja">Prioridad Baja</option>
            </select>
            <input type="date" name="fecha_entrega" placeholder="Fecha de Entrega" required>
            <button type="submit">Crear Tarea</button>
        </form>    

        <h3>Tareas</h3>
        
        <div class="kanban-container">
            <div class="kanban-column">
                <h4>Pendiente</h4>
                <ul>
                    {% for tarea in tareas %}
                        {% if tarea[3] == 'Pendiente' %}
                            <li>
                                <strong>ID: {{ tarea[0] }}</strong><br>
                                <strong>{{ tarea[1] }}</strong><br> 
                                <strong>detalle:  </strong>{{ tarea[2] }}<br>
                                <strong>prioridad:</strong> {{ tarea[6] }}<br>
                                <strong>Fecha de Entrega: </strong>{{ tarea[7] }}<br>
                                <form action="{{ url_for('editar_tarea', tarea_id=tarea[0]) }}" method="GET" style="display:inline;">
                                    <button type="submit" class="btn-editar">✏️ Editar</button>
                                </form>
                                <form action="{{ url_for('cambiar_prioridad', tarea_id=tarea[0]) }}" method="POST">
                                    <select name="prioridad" onchange="this.form.submit()">
                                        <option value="Alta" {% if tarea[6] == 'Alta' %}selected{% endif %}>Alta</option>
                                        <option value="Media" {% if tarea[6] == 'Media' %}selected{% endif %}>Media</option>
                                        <option value="Baja" {% if tarea[6] == 'Baja' %}selected{% endif %}>Baja</option>
                                    </select>
                                </form>
                                <form action="{{ url_for('cambiar_estado', tarea_id=tarea[0]) }}" method="POST">
                                    <select name="estado" onchange="this.form.submit()">
                                        <option value="Pendiente" {% if tarea[3] == 'Pendiente' %}selected{% endif %}>Pendiente</option>
                                        <option value="En Progreso" {% if tarea[3] == 'En Progreso' %}selected{% endif %}>En Progreso</option>
                                        <option value="Completada" {% if tarea[3] == 'Completada' %}selected{% endif %}>Completada</option>
                                    </select>
                                </form>
                                <form id="eliminar-form-{{ tarea[0] }}" action="{{ url_for('eliminar_tarea', tarea_id=tarea[0]) }}" method="POST" style="display:inline;">
                                    <button type="button" class="eliminar-btn" onclick="confirmarEliminacion(event, {{ tarea[0] }})">❌</button>
                                </form>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="kanban-column">
                <h4>En Progreso</h4>
                <ul>
                    {% for tarea in tareas %}
                        {% if tarea[3] == 'En Progreso' %}
                            <li>
                                <strong>ID: {{ tarea[0] }}</strong><br>
                                <strong>{{ tarea[1] }}</strong><br> <strong>detalle:  </strong>{{ tarea[2] }}<br>
                                <strong>prioridad:</strong> {{ tarea[6] }}<br>
                                <strong>Fecha de Entrega: </strong>{{ tarea[7] }}<br>
                                <form action="{{ url_for('editar_tarea', tarea_id=tarea[0]) }}" method="GET" style="display:inline;">
                                    <button type="submit" class="btn-editar">✏️ Editar</button>
                                </form>
                                <form action="{{ url_for('cambiar_prioridad', tarea_id=tarea[0]) }}" method="POST">
                                    <select name="prioridad" onchange="this.form.submit()">
                                        <option value="Alta" {% if tarea[6] == 'Alta' %}selected{% endif %}>Alta</option>
                                        <option value="Media" {% if tarea[6] == 'Media' %}selected{% endif %}>Media</option>
                                        <option value="Baja" {% if tarea[6] == 'Baja' %}selected{% endif %}>Baja</option>
                                    </select>
                                </form>
                                <form action="{{ url_for('cambiar_estado', tarea_id=tarea[0]) }}" method="POST">
                                    <select name="estado" onchange="this.form.submit()">
                                        <option value="Pendiente" {% if tarea[3] == 'Pendiente' %}selected{% endif %}>Pendiente</option>
                                        <option value="En Progreso" {% if tarea[3] == 'En Progreso' %}selected{% endif %}>En Progreso</option>
                                        <option value="Completada" {% if tarea[3] == 'Completada' %}selected{% endif %}>Completada</option>
                                    </select>
                                    
                                </form>
                                <form id="eliminar-form-{{ tarea[0] }}" action="{{ url_for('eliminar_tarea', tarea_id=tarea[0]) }}" method="POST" style="display:inline;">
                                    <button type="button" class="eliminar-btn" onclick="confirmarEliminacion(event, {{ tarea[0] }})">❌</button>
                                </form>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="kanban-column">
                <h4>Completadas</h4>
                <ul>
                    {% for tarea in tareas %}
                        {% if tarea[3] == 'Completada' %}
                            <li>
                                <strong>ID: {{ tarea[0] }}</strong><br>
                                <strong>{{ tarea[1] }}</strong><br> <strong>detalle:  </strong>{{ tarea[2] }}<br>
                                <strong>prioridad:</strong> {{ tarea[6] }}<br>
                                <strong>Fecha de Entrega: </strong>{{ tarea[7] }}<br>
                                <form action="{{ url_for('editar_tarea', tarea_id=tarea[0]) }}" method="GET" style="display:inline;">
                                    <button type="submit" class="btn-editar">✏️ Editar</button>
                                </form>
                                <form action="{{ url_for('cambiar_prioridad', tarea_id=tarea[0]) }}" method="POST">
                                    <select name="prioridad" onchange="this.form.submit()">
                                        <option value="Alta" {% if tarea[6] == 'Alta' %}selected{% endif %}>Alta</option>
                                        <option value="Media" {% if tarea[6] == 'Media' %}selected{% endif %}>Media</option>
                                        <option value="Baja" {% if tarea[6] == 'Baja' %}selected{% endif %}>Baja</option>
                                    </select>
                                </form>
                                <form action="{{ url_for('cambiar_estado', tarea_id=tarea[0]) }}" method="POST">
                                    <select name="estado" onchange="this.form.submit()">
                                        <option value="Pendiente" {% if tarea[3] == 'Pendiente' %}selected{% endif %}>Pendiente</option>
                                        <option value="En Progreso" {% if tarea[3] == 'En Progreso' %}selected{% endif %}>En Progreso</option>
                                        <option value="Completada" {% if tarea[3] == 'Completada' %}selected{% endif %}>Completada</option>
                                    </select>
                                    
                                </form>
                                <form id="eliminar-form-{{ tarea[0] }}" action="{{ url_for('eliminar_tarea', tarea_id=tarea[0]) }}" method="POST" style="display:inline;">
                                    <button type="button" class="eliminar-btn" onclick="confirmarEliminacion(event, {{ tarea[0] }})">❌</button>
                                </form>                            
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                
            </div>
        </div>
    </div>
</body>

</html>